<!DOCTYPE html>
<html lang="en">
	{{include("themes/admin/components/head.html")}}
	<body data-sm="column">
		{{include("themes/admin/components/header.html")}}

		<main data-sm="column childPad" data-lg="2column">
			<mobile-menu-trigger data-sm="pad" data-lg="hide">
				<button class="bd-button-dark"><span>☰ SmartReduc Menu</span></button>
				<span>➤</span>
			</mobile-menu-trigger>

			<aside>{{include("themes/admin/components/menu.html")}}</aside>

			<work-area>{{include("themes/admin/components/work-area-ui.html")}}</work-area>
		</main>

		<footer data-sm="column pad gap" data-lg="2column noPad noGap">
		</footer>

		<script src="/static/vendors/highlight/highlight.min.js"></script>
		<script>
			hljs.highlightAll()
		</script>
		<script type="module" src="/static/admin/scripts/admin.js"></script>
	</body>
</html>
